/*!CK:1683053258!*//*1421114494,*/

.sp_u5BRP9Uzp2V{background-image:url(/rsrc.php/v2/yy/r/3gld3qs-vvB.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_u5BRP9Uzp2V.sx_9a54b7{width:15px;background-position:0 -17px}.sp_u5BRP9Uzp2V.sx_ca84af{background-position:0 0}

#bootloader_9GWU8 { height: 42px; }
.bootloader_9GWU8 { display:block !important; }