/*!CK:1899001626!*//*1421041403,*/

.sp_4en0VLvdxYT{background-image:url(/rsrc.php/v2/yu/r/FQQDA6p9hyt.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_4en0VLvdxYT.sx_8b2cd7{background-position:0 0}.sp_4en0VLvdxYT.sx_fe6453{background-position:0 -17px}

#bootloader_k_jR_ { height: 42px; }
.bootloader_k_jR_ { display:block !important; }