/*!CK:1357163951!*//*1424791725,*/

.sp_m5cuDM03ngC{background-image:url(/rsrc.php/v2/yK/r/M9v7PwMjr3U.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_m5cuDM03ngC.sx_3ab6c3{width:14px;background-position:0 -34px}.sp_m5cuDM03ngC.sx_e28421{background-position:0 0}.sp_m5cuDM03ngC.sx_5dfa83{background-position:0 -17px}

#bootloader__ZTKC { height: 42px; }
.bootloader__ZTKC { display:block !important; }